<p-table [value]="csrs">
  <ng-template pTemplate="header">
    <tr>
      <th>DN</th>
      <th>ON</th>
      <th>OU</th>
      <th>City</th>
      <th>Email</th>
      <th>Reason</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-csr>
    <tr>
      <td>{{ csr.dn }}</td>
      <td>{{ csr.on }}</td>
      <td>{{ csr.ou }}</td>
      <td>{{ csr.city }}</td>
      <td>{{ csr.email }}</td>
      <td>{{ csr.reason }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          label="Answer"
          class="p-button-danger"
          (click)="openDialogForIssuer(csr.dn)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Select the issuer"
  [(visible)]="displayCertificateTableDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <p-table [value]="certificates">
      <ng-template pTemplate="header">
        <tr>
          <th>Alias</th>
          <th>Algorithm</th>
          <th>Key size</th>
          <th>Expiration date</th>
          <th>Select</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-certificate>
        <tr>
          <td>{{ certificate.entryName }}</td>
          <td>{{ certificate.algorithm }}</td>
          <td>{{ certificate.keySize }}</td>
          <td>{{ certificate.expirationDate }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              label="Select"
              class="p-button-success"
              (click)="selectedIssuer(certificate.entryName)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>

<p-dialog
  header="Extensions"
  [(visible)]="extenstionsModal"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '80vw', 'overflow-x': 'hidden' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <h5>Basic constraint</h5>

    <p-radioButton
      name="city"
      value="None"
      [(ngModel)]="basicConstraint"
      inputId="city1"
    ></p-radioButton>
    <label for="city1">None</label>
    <p-radioButton
      name="city"
      value="Non-critical"
      [(ngModel)]="basicConstraint"
      inputId="city2"
    ></p-radioButton>
    <label for="city2">Non-critical</label>
    <p-radioButton
      name="city"
      value="Critical"
      [(ngModel)]="basicConstraint"
      inputId="city3"
    ></p-radioButton>
    <label for="city3">Critical</label>
    <br />
    <p-radioButton
      name="isCa"
      value="true"
      [(ngModel)]="basicConstraintIsCa"
      inputId="isCa"
    ></p-radioButton>
    <label for="isCa">Is CA</label>
    <p-radioButton
      name="isNotCa"
      value="false"
      [(ngModel)]="basicConstraintIsCa"
      inputId="isNotCa"
    ></p-radioButton>
    <label for="isNotCa">Is not CA</label>
    <br />
    <h5>Authority Key identifier</h5>
    <p-radioButton
      name="aki"
      value="None"
      [(ngModel)]="aki"
      inputId="aki1"
    ></p-radioButton>
    <label for="aki1">None</label>
    <p-radioButton
      name="aki"
      value="Non-critical"
      [(ngModel)]="aki"
      inputId="aki2"
    ></p-radioButton>
    <label for="aki2">Non-critical</label>
    <p-radioButton
      name="aki"
      value="Critical"
      [(ngModel)]="aki"
      inputId="aki3"
    ></p-radioButton>
    <label for="aki3">Critical</label>
    <br />
    <h5>Subject Key identifier</h5>
    <p-radioButton
      name="ski"
      value="None"
      [(ngModel)]="ski"
      inputId="ski1"
    ></p-radioButton>
    <label for="ski1">None</label>
    <p-radioButton
      name="ski"
      value="Non-critical"
      [(ngModel)]="ski"
      inputId="ski2"
    ></p-radioButton>
    <label for="ski2">Non-critical</label>
    <p-radioButton
      name="ski"
      value="Critical"
      [(ngModel)]="ski"
      inputId="ski3"
    ></p-radioButton>
    <label for="ski3">Critical</label>
    <div>
      <p-multiSelect
        [options]="keyUsages"
        [(ngModel)]="keyUsagesSelected"
        optionLabel="name"
      ></p-multiSelect>
      <label for="name">Key usages</label>
      <br />
      <p-radioButton
        name="aki"
        value="Non-critical"
        [(ngModel)]="criticalKeyUsage"
        inputId="aki2"
      ></p-radioButton>
      <label for="aki2">Non-critical</label>
      <p-radioButton
        name="aki"
        value="Critical"
        [(ngModel)]="criticalKeyUsage"
        inputId="aki3"
      ></p-radioButton>
      <label for="aki3">Critical</label>
    </div>
    <div>
      <p-multiSelect
        [options]="extendedKeyUsages"
        [(ngModel)]="extendedKeyUsagesSelected"
        optionLabel="name"
      ></p-multiSelect>
      <label for="name">Extended key usages</label>
      <br />
      <p-radioButton
        name="aki"
        value="Non-critical"
        [(ngModel)]="criticalExtendedKeyUsage"
        inputId="aki2"
      ></p-radioButton>
      <label for="aki2">Non-critical</label>
      <p-radioButton
        name="aki"
        value="Critical"
        [(ngModel)]="criticalExtendedKeyUsage"
        inputId="aki3"
      ></p-radioButton>
      <label for="aki3">Critical</label>
    </div>
    <h5>Subject alternative name</h5>
    <input
      type="text"
      pInputText
      [(ngModel)]="ipAddress"
      placeholder="IP address"
    />
    <input
      type="text"
      pInputText
      [(ngModel)]="directoryName"
      placeholder="Directory name"
    />
    <input
      type="text"
      pInputText
      [(ngModel)]="dnsName"
      placeholder="DNS name"
    />
    <input
      type="text"
      pInputText
      [(ngModel)]="rfc822"
      placeholder="RFC 822 name"
    />
    <input type="text" pInputText [(ngModel)]="uri" placeholder="URI" />
    <input type="text" pInputText [(ngModel)]="upn" placeholder="UPN" />
    <br />
    <p-radioButton
      name="aki"
      value="Non-critical"
      [(ngModel)]="criticalSubjectAlternativeName"
      inputId="aki2"
    ></p-radioButton>
    <label for="aki2">Non-critical</label>
    <p-radioButton
      name="aki"
      value="Critical"
      [(ngModel)]="criticalSubjectAlternativeName"
      inputId="aki3"
    ></p-radioButton>
    <label for="aki3">Critical</label>
    <button
      pButton
      pRipple
      type="button"
      label="Sign csr"
      class="p-button-success"
      (click)="signCSR()"
    ></button>
  </ng-template>
</p-dialog>
