<p-toast position="top-center" key="tc"></p-toast>
<p-dialog header="Update user role" [(visible)]="display">
  <div style="height: 210px; display: flex">
    <p-multiSelect
      defaultLabel="Select a Role"
      [options]="roles"
      [(ngModel)]="selectedRoles"
      optionLabel="name"
    >
      <br />
      <br />
    </p-multiSelect>
    <div class="p-field">
      <p-button
        style="margin-left: 10px"
        label="Update"
        (onClick)="update()"
      ></p-button>
    </div>
  </div>
</p-dialog>
<h2>Users</h2>
<div style="width: 10%; float: left" class="p-formgroup-inline search">
  <div class="p-field">
    <input
      type="text"
      pInputText
      [(ngModel)]="userInfo.username"
      placeholder="Username"
    />
  </div>
  <br />
  <div class="p-field">
    <input
      type="text"
      pInputText
      [(ngModel)]="userInfo.password"
      placeholder="Password"
    />
  </div>
  <br />
  <div class="p-field">
    <input
      type="text"
      pInputText
      [(ngModel)]="userInfo.firstname"
      placeholder="First Name"
    />
  </div>
  <br />
  <div class="p-field">
    <input
      type="text"
      pInputText
      [(ngModel)]="userInfo.lastname"
      placeholder="Last Name"
    />
  </div>
  <br />
  <div class="p-field">
    <input
      type="text"
      pInputText
      [(ngModel)]="userInfo.email"
      placeholder="Email"
    />
  </div>
  <br />
  <p-multiSelect
    defaultLabel="Select a Role"
    [options]="roles"
    [(ngModel)]="selectedRoles"
    optionLabel="name"
  >
  </p-multiSelect>
  <br />
  <br />
  <div class="p-field">
    <p-button
      label="Submit"
      (onClick)="createUser()"
      [disabled]="!isInfoValid()"
    ></p-button>
  </div>
</div>
<div style="display: flex; left: 700px; position: absolute; top: 100px">
  <div class="p-field">
    <input type="text" pInputText [(ngModel)]="searchTerm" />
  </div>
  <div class="p-field" style="margin-left: 10px">
    <p-button label="Search" (onClick)="getAll()"></p-button>
  </div>
</div>
<div style="width: 85%; float: right">
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Enabled</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <ul>
            <li *ngFor="let role of user.roles">
              {{ role.name }}
            </li>
          </ul>
        </td>
        <td>{{ user.enabled }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Delete"
            class="p-button-danger"
            (click)="delete(user.id)"
          ></button>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Activate"
            class="p-button-warning"
            (click)="activate(user.id)"
          ></button>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Update"
            class="p-button-warning"
            (click)="showDialog(user.id)"
          ></button>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Estates"
            class="p-button-warning"
            (click)="go(user.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
